{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
		<h3>Delete Post..</h3>
		<br/><br/>
		<h4>Delete: {{ post.tittle }}</h4>
		<br/>
		<div class="form-group">
		<form action = "" method = "post">
			{% csrf_token %}
			<strong>Are you Sure?!</strong><br/><br/>
			<button class="btn btn-secondary">Delete</button>

		</form>
		</div>
        {% else %}
             You are not allowed here! (....$$$....)
        {% endif %}

{% else %}

You are not allowed here! (....$$$....)

{% endif %}

{% endblock %}
