{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}

		<h3>Edit Profile..</h3>
		<br/>
		<div class="form-group">
		<form action = "" method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p }}
			<button class="btn btn-secondary">Update Profile Page</button>

		</form>
		</div>


     {% else %}

          You are not allowed here! (....$$$....)

     {% endif %}

{% else %}
    You are not the correct User to Edit This Page...
{% endif %}

{% endblock %}
